*{
    margin:0;
    padding:0;
}
body{
    background:#222;
}

.nav{
    padding:4px;
    display:inline-block;
    margin-top:10px;
}

.nav li{
    position:relative;
    background-color:#72e1ac;
    display:inline;
    margin-left:8px;
    padding:6px 20px;
    border:1px solid #888;
}

.nav li .sub{
    display:none;
    position:absolute;
    left:20px;
    top:16px;
}
.nav .sub li{
    background: #daf1d9;
    display: inline-block;
    width: 100%;
    top: 15px;
    left: -19px;
}

.nav li:hover {background-color:#8bff68;}
.nav li:hover .sub .sub{display:none; }
.nav li:not(.has-sub):hover>.sub {display:block; }

.nav .sub.show{display:block !important;}

/* for tests */
a.cloned{color:red;}








